<h2><i><u>Contact us</u></i></h2>


<ol>


   <p><b><font color="blue">Blogger Developer:-</font></b></u></p>
  <h1> <p><b><font color="blue">Rakesh Kumar:-</font></b></p></h1>
   <p><font color="blue">Email id :-<font color="black" >rakeshmaurya262@gmail.com,<br/> 
                                         sunnymaurya262@yahoo.com<br/>

   <p><font color="blue">Permanent Address :- <font color="black"> Vill-Bhagchuri<br/>
   	Po-Nausar<br/>
   	Udham Singh Nagar<br/>
   	Pin-262308<br/>
   	Uttarakhand
   	India</font></p>
   	<p><font color="">Current Address :-<font color="black"> Cauvery Boys Hostel<br/>
   	CQAL Layout<br/>
   	SahakaraNagar<br/>
   	Bangalore-560092<br/>
   	Karnataka
   	India</font>
   	<br/>
<br/>

<br/>
<br/>

<br/>
<br/>



<h3>
<%= link_to 'Home',{:action=>'index', :controller=>'home'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= link_to "New Post", new_post_path, :class => "new_post" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= link_to 'Blogger Information', :action=>'blogger_information'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Dominus', :action=>'me_us'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

</h3>