<h2><i><u>About the Developer :- </i></u></h2>

  <p><font color="blue">Email id :-<font color="black"> rakeshmaurya262@gmail.com</font>
<p><font color="blue" >Website :-<font color="black"> https://www.facebook.com/rakeshmaurya262</font>
</p>

 <p><font color="black">
I am Rakesh Kumar . <br/>
Currently working as a Trainee developer and chasing my dream to work in an MNC.
<br/>

<p><font color="blue">Qualifications:-  <font color="black">Bachelors In Engineering(Computer Science)<br/>
Working as Trainee Developer@ Gowdanar Technologies<br/>
 <font color="blue">Date of birth :-<font color="black"> 05/06/1990
<p><font color="blue">Mobile Number :-<font color="black"> +91-7204189255</font></p>
</font></p>
</font></p><br/><br/>

<h3>
<%= link_to "Create new Post", new_post_path, :class => "new_post" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%= link_to 'Home',{:action=>'index', :controller=>'home'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</h3>