<!DOCTYPE html>
<html>
<head>
  <title>Mahindra</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body style="background: #EEEEEE;">
	<table style="background:#80BFFF">
		<a style="color:blue">



			
<%= yield %>

</body>
</html>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 



<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">

Copyright:- rakeshmaurya262@gmail.com</div>
<br/>
